@font-face {
    font-family: 'icones';
    src: url(../assets/font/icones.ttf);
}

body{
    background: linear-gradient(98deg, rgba(29,35,42,1) 0%, rgba(43,13,92,1) 38%, rgba(54,54,54,1) 100%);
    font-family: 'open sans', 'icones', sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
}

@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: auto 1fr;

    }
}

.hide{
    display: none;
}

.fotoview{

    display: grid;
    grid-column: span 2;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cabecalho{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notficacao i::before{
    content: "\e906";
    font-size: 24px;
}

.cabecalho-sino{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cabecalho__logo{
    width: 40px;
}

.cabecalho_perfil{
    display: none;
}

.notificacao{
    align-items: end;
    justify-content: flex-end;
    display: flex;
}

@media screen and (min-width: 1024px){
    .cabecalho{
        background-color: rgb(18 2 42);
        display: grid;
        column-gap: 32px;
        grid-template-columns:  1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box; 
        grid-column: 2;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__logo{
        display: none;
    }

    .cabecalho_perfil{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999c;
        padding: 8px 32px;
        border-right: 1px solid #95999c;
    }

    .cabecalho_perfil::before{
        content:"";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../assets/img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cabecalho_perfil::after{
        content: "\e90d";
        color: #fff;
        font-size: 1.5rem;
    }
}

.menu-lateral{
    display:flex;
    flex-direction: column;
    background-color: #1f0742;
    width: 75vw;
    height:100%;

    position: absolute;
    left: -100vh;
    transition: .25s;
}

.menu-lateral--ativo{
    left: 0;
    transition: .25s;

}

.menu-lateral__logo{
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: #95999C;
    padding-left: 60px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo{
    color: #fff;
    padding-left: 65px;
    border-left: 8px solid #fff;

}

.menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

@media screen  and (min-width: 1024px) {
    .menu-lateral{
        position:static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
}

.inicio::before{
    content: "\e902";
}

.video::before{
    content: "\e90e";
}

.pico::before{
    content: "\e909";
}

.integrante::before{
    content: "\e903";
}

.camisa::before{
    content: "\e900";
}

.pintura::before{
    content: "\e90a";
}

/*-------corpo---------*/

.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.principal-tipos{
    padding: 24px 16px;
    display: grid;
    gap: 120px;
}

.cartao--destaque{
    margin-bottom: 16px;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao{
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .principal{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "titulo-pagina titulo-pagina titulo-pagina"
        "destaque-video destaque-video videos-recentes"
        "secao-videos secao-videos secao-videos"
        "produtos-recentes destaque-produtos destaque-produtos"
        "secao-produtos secao-produtos secao-produtos";
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .titulo-secao{
        grid-column: span 4;
    }
}


.cartao{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #180832;
    /* background-color: #2C343A; */
    box-shadow: 0px 5px 18px 4px rgba(0, 0, 0, 0.53);
}


.cartao-mapa{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao__imagem--desktop{
    display: none;
}

.cartao-destaque{
    grid-column: span 2;
}

.cartao-conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.cartao-titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao-titulo-fobia{
    font-size: 1.9rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao-perfil{
    color: #95999c;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao-perfil-atencao{
    color: #fff;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao-info{
    color: #fff;
    /* color: #95999c; */
    font-size: 14px;
    grid-column: span 2;
}

.cartao_info{
    display:flex;
    align-items: center;
    color: #95999c;
}

.cartao_info--tempo::before{
    content: "\e90c";
    margin-right: 8px;
}

.cartao_info--visualiza::before{
    content: "\e90f";
    margin-right: 8px;
}

.cartao_info--comprar::before{
    content:"\e905";
    margin-right: 8px;
}

.cartao_botao{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
    transition: 0.3s;
}

.cartao_botao:hover{
    background-color: #fff;
    color:#180832;
    cursor: pointer;
    
}

.cartao_botao--play::before{
    content: "\e90b";
    font-size: 24px;
}

.cartao_botao--compra::before{
    content: "\e901";
    font-size: 24px;
}

.cartao_botao--foto::before{
    content: "\e90f";
    font-size: 24px;
}

.cartao_botao--info::before{
    content: "\e90f";
    font-size: 24px;
}

.cartao_botao--destaque{
    width: 100%;
    grid-column: span 2;

}

.cartao_botao--destaque::before{
    margin-right: 8px;
}

.cartao--recentes{
    display: none;
}

@media screen and (min-width: 1024px){
    .cartao--destaque{
        margin-bottom: 0;
    }

    .cartao__imagem--mobile{
        display: none;
    }

    .cartao__imagem--desktop{
        display: block;
    }

    .cartao_botao--destaque{
        grid-column: auto;
        padding: 16px 8px;

    }

    .cartao--recentes{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }
    
    .cartao--recentes .carto_titulo{
        grid-column: auto;
    }

    .cartao_link{
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480dc;
        justify-self: flex-end;
    }

    .cartao_lista{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao_favorito{
        display: grid;
        row-gap: 26px;
        grid-column: span 2;
    }

    .cartao_item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao-item-link{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .cartao_item_thumb{
        width: 32px;
        grid-row: span 2;
    }

    .cartao_item_titulo{
        font-size: 0.9rem;
        line-height:1.2rem;
        font-weight: 700;
    }

    .cartao_item_perfil{
        font-size: 0.8rem;
        color: #95999c;
    }
}

.secao{
    display:grid;
    gap:16px;
}

.texto-obs{
    font-size: 14px;
    color: #95999c;
}

@media only screen and (min-width: 1024px){
    .secao{
        grid-template-columns: repeat(4, 1fr);
    }

}

@media only screen and (min-width: 1024px){
    .secao_tipos{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen  and (min-width:1024px){
    .destaque-video{
        grid-area: destaque-video;
    }
    
    .videos-recentes{
        grid-area: videos-recentes;
    }
    
    .secao-videos{
        grid-area: secao-videos;
    }
    
    .produtos-recentes{
        grid-area: produtos-recentes;
    }
    
    .destaque-produtos{
        grid-area: destaque-produtos;
    }
    
    .secao-produtos{
        grid-area: secao-produtos;
    }
}

